NEXT_PUBLIC_WORDPRESS_API_URL=https://salaf.maschandigital.id/wp-json/wp/v2

# JWT Secret untuk otentikasi session Next.js (wajib diisi, minimal 32 karakter acak)
# Panduan generate key aman di terminal: openssl rand -base64 32
JWT_SECRET=
